<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.apache.lucene" slot="4.8.1">
    <resources>
        <resource-root path="lucene-core-4.8.1.jar" />
        <resource-root path="lucene-queryparser-4.8.1.jar" />
        <resource-root path="lucene-queries-4.8.1.jar" />
        <resource-root path="lucene-facet-4.8.1.jar" />
        <resource-root path="lucene-analyzers-common-4.8.1.jar" />
    </resources>
    <dependencies>
        <module name="javax.api" optional="true" />
    </dependencies>
</module>
